name: Python Linting and Formatting with uv

on:
  push:
   branches: [ "main" ]
  pull_request: 
   branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Install uv
       uses: astra-sh/setup-uv@v5
       with:
         enable-cache: true

     - name: Setup Python
       uses: uv python install 3.10

     - name: Install linting tools
       run: |
         uv pip install black isort flake8